<!--<p id="notice">[object Object]</p>-->
<h3 class="my-3 text-center">
  <%= controller_name.humanize + ':' %>
  <%= action_name.humanize %>
  <span class="badge badge-info bg-info">
    <%= @tenants.count %>
  </span>
</h3>
<br />

<table class="table table-striped table-hover table-bordered w-50 m-auto">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Users</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @tenants.each do |tenant| %>
      <tr>
        <td><%= link_to tenant.id, tenant %></td>
        <td><%= tenant.name %></td>
        <td><%= tenant.users.compact.join(', ') %></td>
        <td>
          <%=
            link_to 'Edit',
                    edit_tenant_path(tenant),
                    class: 'btn btn-secondary text-white'
          %>
        </td>
        <td>
          <%=
            link_to 'Destroy',
                    tenant,
                    method: :delete,
                    data: {
                      confirm: 'Are you sure?',
                    },
                    class: 'btn btn-danger text-white'
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
