<h3 class="my-3 text-center">
  <%= controller_name.humanize + ':' %>
  <%= action_name.humanize %>
  <span class="badge badge-info bg-info">
    <%= @users.count %>
  </span>
</h3>

<table class="table table-striped table-hover table-bordered w-75 m-auto">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Email</th>
      <th scope="col">Tenants</th>
      <th scope="col">Invitable</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user %></td>
        <td><%= user.email %></td>
        <td><%= user.tenants.compact.join(', ') %></td>
        <td>
          <% if user.created_by_invite? %>
            <span class="badge badge-secondary bg-secondary">
              Created by Invite from <%= user.invited_by %>
            </span>
          <% end %>
          <% if user.invitation_accepted_at.present? %>
            <span class="badge badge-secondary bg-secondary">
              Invitation Accepted
            </span>
          <% else %>
            <%=
              link_to 'Resend Invitation',
                      resend_invitation_user_path(user),
                      method: :patch
            %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
